header {
    width: 100%;
    min-height: 600px;
    padding-top: 0.5em;
}
#container {
    margin: 10px 20px;
}
#home header{
    background: no-repeat url(images/bg1.jpg);
    background-size: 1400px 600px;
}
#adoption header{
    background: no-repeat  url(images/bg2.jpg);
    background-size: 1400px 600px;
}
#gallery header{
    background: no-repeat  url(images/bg3.jpg);
    background-size: 1400px 600px;
}
#contact header{
    background: no-repeat url(images/bg4.jpg);
    background-size: 1400px 600px;
}
/* Main */
.main-header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 600px;
    margin: 1em auto 0 auto;
    min-height: 50px;
    align-items: center;
}
.main-header .logo img {
    width: 120px;
    height: 100px;
    float: left;
}
.main-menu {
    font-weight: 400;
    height: 100px;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    width: 20.5%;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 15px;
}
.main-menu ul li a {
    text-decoration: none;
    color:#888;
    margin-left: 1.5em;
}
.main-menu ul li a:hover {
    text-decoration: none;
    color:black;
}
.main-menu ul li.active {
    background: plum;
    /* border: none; */
}
.main-menu ul li.active a {
    color:#fff;
}
main {
    font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    color:olive;
}
main h2 {
    color: #1F86DE;
}
/* Footer */
footer {
    width: 100%;
    height: 180px;
    padding-bottom: 1em;
    background-color:lightgoldenrodyellow;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    font-size: 0.9em;
    float: middle;
    text-align: center;
}
footer #nondisclaimer .social {
    padding: 5em, 3em;
    margin-right: 3.25em;
    float:right;
}
footer #disclaimer {
    clear:both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Adoption */
table {
    margin: 35px auto;
}
table, caption, th, td {
    border: 1px solid cornflowerblue;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 800;
    height: 40px;
    padding-top: 15px;
    color:plum;
}
/* Contact */
form {
    margin: 35px auto;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input, textarea {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
    background-color:violet;
    border:none;
    padding: 7px;
    color: #fff;

}
fieldset {
    border: 4px solid powderblue;
}
legend {
    font-size: larger;
}

/* Gallery */
#album { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1em 8em 1em 2em;
}
#album img {
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0  gray;
    margin: 0.5em 0.5em 1.0em 0;
}
li {
    position: relative;
    list-style-type: none;
}
.description {
    top: 70%;
    max-width: 60%;
    background-color: paleturquoise;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    visibility:hidden; 
    left: 0;
    right: 0;
}
li:hover .description {
    cursor: pointer;
    visibility:visible;
}
.caption {
    width: 300px;
    font-size: 20px;
    height: 1.5em;
    color: rosybrown;
    text-align: center;
}

/* Infobox */
#infobox{
    width: 360px;
    height: 220px;
    top: -650px;
    left: 500px;
    padding: 25px;
    position: relative;
    visibility: hidden;
    border-radius: 15px;
    background-color: plum;
}
#infobox-heading {
    color: whitesmoke;
}
#infobox-text {
    font-size: large;
    color: whitesmoke;
}
#closebox {
    font-size: larger;
    margin: auto 90px;
    text-decoration: none;
    color:yellow;
}

/* Lightbox */
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}
.close {
    float: right;
    cursor: pointer;
}
.box img {
    width:100%;
}