header {
    width: 100%;
    min-height: 550px;
    padding-top: 0.5em;
}
#home header{
    background: no-repeat url(images/dog5.jpg);
    background-size: 1300px;
    margin: 30px 60px;
}
#adoption header{
    background: no-repeat  url(images/kitten2.jpg);
    background-size: 1300px;
    margin: 30px 60px;
}
#contact header{
    background: no-repeat url(images/dog1.jpg);
    background-size: 1300px;
    margin: 30px 60px;
}
/* Main */
.main-header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 800px;
    margin: 1em auto 0 auto;
    min-height: 50px;
    height: 70px;
}
.main-header .logo img {
    width: 130px;
    height: 100px;
    float:left;
}
.main-menu {
    /* margin-left: 227px; */
    font-weight: 400;
    height: 100px;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-left:1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 15px;
}
.main-menu ul li a {
    text-decoration: none;
    color:#888;
}
.main-menu ul li a:hover {
    text-decoration: none;
    color:#DE1FB7;
}
.main-menu ul li.active {
    background: #DED21F;
    border: none;
}
.main-menu ul li.active a {
    color:#fff;
}
main {
    font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    color:olive;
}
main h2 {
    color: #1F86DE;
}
#home main .pets {
    width: 90%;
    margin: 3em auto;
}
#home main .pets .pet {
    width: 35%;
    display: inline-block;
    margin: 2.5em 1.2em 0 1.2em;
}
#home main .pets .pet p {
    background: pink;
    height: 2em;
    color: #fff;
    text-align: center;
    padding-top: 0.55em;
    margin: 0;
}
#home main .pets .pet img{
    width: 100%;
    height: 100%;
}
/* Footer */
footer {
    width: 100%;
    height: 250px;
    padding-bottom: 1em;
    background-color:lightgoldenrodyellow;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float:right;
}
footer #disclaimer {
    clear:both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Adoption */
table {
    margin: 35px auto;
}
table, caption, th, td {
    border: 1px solid cornflowerblue;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 800;
    height: 40px;
    padding-top: 15px;
    color:plum;
}
/* CONTACT */
form {
    margin: 35px auto;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input, textarea {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
    background-color:violet;
    border:none;
    padding: 7px;
    color: #fff;

}
fieldset {
    border: 4px solid powderblue;
}
legend {
    font-size: larger;
}